
/* About Page */
main .about{
    padding: 30px;
}
main .about .heading{
    text-align: left;
}
main .about .heading h2{
    color: var(--darkStaleGray);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
main .about p{
    letter-spacing: 0.6;
    line-height: 24px;
}

@media screen and (max-width: 768px){

}