/* Variriables */
:root {
    --khaki: #F0E68C;
    --khakiDark: #BDB76B;
    --darkStaleGray: #2F4F4F;
    --white: #FFFFFF;
}

/* Import Font */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

/* Global Settings */
* {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Segoe UI", Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--darkStaleGray);
}

hr {
    border: 1px solid rgba(236, 240, 241, 0.3);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.active {
    background-color: var(--darkStaleGray) !important;
    color: var(--khaki) !important;
}

main {
    height: auto;
    background-color: var(--white);
    padding: 3%;
    margin-top: -2em;
    margin-bottom: -2em;
    box-shadow: 0 0 2px #808080;
    position: relative;
    z-index: 100;
}


main .breadcrumb {
    background-color: var(--khaki);
    padding: 10px 0;
    margin-bottom: 25px;
}

main .breadcrumb ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

main .breadcrumb ul li {
    padding: 0 10px;
}

main .breadcrumb ul li a {
    color: var(--darkStaleGray);
    text-decoration: none;
}

main .breadcrumb ul li a:hover {
    color: var(--khakiDark);
}

.title {
    font-size: 24px;
    color: var(--darkStaleGray);
    /*border: 1px solid rgba(236, 240, 241, 0.3);*/
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 8px;
    display: block;
}

.main_title {
    font-size: 24px;
    color: var(--darkStaleGray);
    /*border: 1px solid rgba(26, 20, 141, 0.6);*/
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    padding: 5px 8px;
    margin: 10px;
    display: block;
}

.subtitle {
    color: var(--darkStaleGray);
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    display: block;
}