
/* Product Page ===== Single Product Styling */

main .single-product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
main .single-product .images-section{
    width: 40%;
}
main .single-product .product-detail{
    width: 60%;
    padding-left: 30px;
}
main .single-product .images-section .larg-img img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
main .single-product .images-section .small-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
main .single-product .images-section .small-img img{
    width: 80px;
    height: 53px;
}
main hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
main .single-product .product-detail h2{
    font-size: 24px;
    color: var(--darkStaleGray);
    margin-bottom: 15px;
}
main .single-product .product-detail h3{
    font-size: 18px;
    color: var(--khakiDark);
}
main .single-product .product-detail p{
    font-size: 14px;
    line-height: 20px;
    color: var(--darkStaleGray);
}
main .single-product .product-detail .product-cart #cart-form{
    margin-bottom: 20px;
}
main .single-product .product-detail .product-cart #cart-form input{
    height: 30px;
    padding: 5px;
    color: var(--darkStaleGray);
}
main .single-product .product-detail .product-cart #cart-form input[type="submit"]{
    background-color: var(--khaki);
    border: 1px solid transparent;
    color: var(--darkStaleGray);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}
main .single-product .product-detail .product-cart #cart-form input[type="submit"]:hover{
    border: 1px solid var(--darkStaleGray);
}
main .single-product .product-detail .product-cart #wishlist-form input[type="checkbox"]{
    width: 24px;
    height: 24px;
    position: relative;
    outline: none;
    cursor: pointer;
    appearance: none;
}
main .single-product .product-detail .product-cart #wishlist-form input[type="checkbox"]:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6px;
    left: 0;
    background: url(../img/icons/heart.png);
}
main .single-product .product-detail .product-cart #wishlist-form input:checked[type="checkbox"]:before{
    background: url(../img/icons/heart_fill.png);
}
main .single-product .product-detail .product-meta p{
    margin-bottom: 20px;
}
main .product-long-description h3{
    font-size: 18px;
    color: var(--khakiDark);
    margin-bottom: 20px;
}
main .product-long-description p{
    font-size: 14px;
    line-height: 20px;
    color: var(--darkStaleGray);
}

@media screen and (max-width: 768px){
    main .single-product{
        flex-direction: column;
    }
    main .single-product .images-section{
        width: 100%;
    }
    main .single-product .product-detail{
        width: 100%;
        padding-left: 0;
    }
    main .single-product .images-section .larg-img img{
        height: 300px;
    }
    main .single-product .images-section .small-img{
        padding: 10px 0;
    }
    main .single-product .images-section .small-img img{
        width: 60px;
        height: 40px;
    }
}